include README.md
include README_PACKAGE.md
include requirements.txt
include requirements-cli.txt
include setup.py
exclude avikal.cmd
recursive-include src/avikal_backend/wordlists *.txt
prune scripts
prune tests
global-exclude *.pyc
global-exclude *.pyo
